.vs/
.vscode/
build/
build-*/
out/
__vcpkg_installed*/
CMakeUserPresets.json
include/ISLocalMap.hlsl.h
/swf/Map

*.dll
*.exp
*.ilk
*.lib
*.log
*.map
*.pdb
*.tmp
*.user
*.zip
*.pyc
__pycache__/
.codex.tmp/
